
html {
    background-color:＃000;
    }

body {
-webkit-text-size-adjust: 100%;
}
.aboutSanrikunow {
    text-align: center;
    font-size: 4.0rem;

}

.pagetitle{
    font-size: 2rem;
}

.pagetitleEng{
    font-size: 1.5rem;
}

.articleTop{
    position: relative;
    text-align: center;
    margin-top: 20pt;
}
.articleTop img{
    width: 90%;
    height: 300px;
    object-fit: cover;
    position: relative;
}
.articleTop h1{
    font-size: 4.0rem;
    white-space:nowrap;
    overflow:hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0 10pt;
    background-color: #ffffff;
    opacity: 0.8;
}
.articleSubTitle{
    padding:20pt 5pt 3pt 5pt;
    margin: 3pt 30pt;
    border-bottom: 1.2pt #58b3e8 solid;
    font-size:2rem;
}

@media(max-width:1024px){
    h2{font-size:3rem;}
}

.articleBox {
    margin: 0 auto;
    text-align: center;
    background-color: #CCEBFF;
    width: 90%;
    height: auto;
}
.article {
    height: auto;
    width: auto;
    text-align: center;
    padding: 0 15%;
    margin: 0 auto;
    margin-top: 50px;
    overflow:auto;
    font-size:1.8rem;
}

.article img{
    width:31%;
    height:auto;
    border:solid 2.5px white;
}

.ArticleTitle {
    color: #ffffff;
    display: block;
    font-size: 3.5rem;
    margin-left: 2.5rem;
    margin-top: 0.3rem;

}

@media(max-width:1024px){
    .article{
        font-size:2.5rem;
    }
    table{
    margin:0 auto;
}

table td{
    color:black;
    font-size:1.8rem;
    text-align: left;
}

.details td{
    font-size:1.5rem;
}
}


.articlePhoto {
    position: relative;
    width: 40%;
    height: auto;
    margin: 20pt auto;
    border: 3pt #ffffff solid;
}


    table{
    margin:0 auto;
}

table td{
    color:black;
    font-size:1.8rem;
    text-align: left;
}

.details td{
    font-size:1.5rem;
}

/*各部会企画紹介*/
@media screen and (min-width:1025px) {
    .productBoxContainer {
        width: 80%;
        height: auto;
        margin-left: 10%;
        /*background-color: pink;*/
    }

    .productBox {
        width: 50rem;
        height: 50rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;
        overflow: hidden;
        display: inline-block;
        background-color: yellow;
    }
}

@media screen and (max-width:1024px) {
    .productBoxContainer {
        width: 80%;
        height: flex;
        margin-left: 20%;
        /*background-color: pink;*/
    }

    .productBox {
        width: 50rem;
        height: 50rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;
        display: inline-block;
        /*background-color: blue;*/
    }
}

.scheduleLarge {
    width: 100%;
    height: 100%;
    display: block;
    border: solid 2px #ffffff;
    box-sizing: border-box;
    float: left;
}

.scheduleLargeLink :hover {
    text-decoration: none;
    opacity: 0.9;
}

.productPhoto {
    width: 100%;
    height: 64%;
    background-color: #ffffff;
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.photo1{background-image: url(../sanrikunow-special/sanrikunow2019-taiken/img/sanriku-handcraft-tents.JPG);}
.photo2{background-image: url(../sanrikunow-special/sanrikunow2019-kitchen/img/sanriku-canteen2017.JPG);}
.photo3{background-image: url(../marche/img/nizakana.jpg);}
.photo4{background-image: url(../sanrikunow-special/sanrikunow2019-stage/img/yuruchara-with-mc.jpg);}



.photoTitle {
    color: #59b3e8;
    display: inline-block;
    font-size: 5rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    z-index: 2;
}

.scheduleLargeArticle {
    width: 100%;
    height: 36%;
    display: inline-block;
    background-color: #ff9580;
}
