/*全体設定*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #58b3e8;
    font-size: 62.5%;
    font-family: 'hiragino';
}


body {
    height: 100%;
    background-color: #58b3e8;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/Gotham-XLight.otf');
}

@font-face {
    font-family: 'ruriiro';
    src: url('../fonts/ruriiro.ttf');
}

@font-face {
    font-family: 'hiragino';
    src: url('../fonts/hiragino.ttc');
}

@font-face {
    font-family: 'hiraginoW0';
    src: url('../fonts/hiraginoW0.ttc');
}

@font-face {
    font-family: 'chogokuboso';
    src: url('../fonts/chogokuboso.ttf')
}


/*ページボックス*/

.pagebox {
    height: 100%;
    width: 100%;
    background-color: #58b3e8;
}

.pageboxLarge {
    height: auto;
    width: 100%;
    background-color: #58b3e8;
    padding-bottom: 1px;
}

.pagetitle {
    color: #f0f0f2;
    text-align: center;
    font-family: 'hiragino';
    padding-top: 3.0rem;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.pagetitleEng {
    color: #f0f0f2;
    text-align: center;
    font-family: "gotham";
    font-size: 0.7rem;
    letter-spacing: 0.5rem;
}

.pagetitleblack {
    color: #111111;
    text-align: center;
    font-family: 'hiragino';
    padding-top: 3.0rem;
    font-size: 2rem;
}

.pagetitleblackEng {
    color: #111111;
    text-align: center;
    font-family: "gotham";
    font-size: 0.7rem;
    letter-spacing: 0.5rem;
}

/*ボタン*/

.Animatedbutton {
    display: inline-block;
    width: 20rem;
    height: 5.4rem;
    text-align: center;
    text-decoration: none;
    line-height: 5.4rem;
    outline: none;
    font-size: 1.8rem;
}

.Animatedbutton::before,
.Animatedbutton::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

.Animatedbutton,
.Animatedbutton::before,
.Animatedbutton::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}


.Animatedbutton {
    /*    position: relative;*/
    position: absolute;
    z-index: 2;
    background-color: #ff9580;
    border: 2px solid #ff9580;
    color: #fff;
    line-height: 5.0rem;
    /*自分で編集したところ */
}


.Animatedbutton:hover {
    background-color: #fff;
    border-color: #ff9580;
    color: #ff9580;
}

.Animatedbutton::before,
.Animatedbutton::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #ff9580;
}

.Animatedbutton::before {
    right: 0;
}

.Animatedbutton::after {
    left: 0;
}

.Animatedbutton:hover::before,
.Animatedbutton:hover::after {
    width: 0;
    background-color: #59b1eb;
}

.btnCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3.0rem;
}

/*ABOUT*/

#main {
    /*    background-image: url("../img/aboutToKuBg.jpg");*/
    /*    background-size: cover;*/
    background-color: #eeeeee;
}

.navcontainer {
    width: 90%;
    margin: auto;
    position: absolute;
    margin-top: 5.0rem;
    z-index: 10;
}

.top-menu {
    overflow: hidden;
    float: right;
}

.nav {
    color: black;
    font-family: "gotham Ultra";
    text-decoration: none;
    padding: 2.0rem 3.0rem 2.0rem 3.0rem;
    border-right: dotted 0.1rem black;

}

.top-menu li {
    float: left;
    list-style-type: none;
    padding-top: 3.0rem;
    padding-bottom: 3.0rem;
    font-size: 1.5rem;
}

.nav:hover {
    color: #00bcd4;
    transition: 0.3s;
}

.mainBg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../img/topBack.jpg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    z-index: 0;
}

.mainTextBg {
    background-color: #eeeeee;
    width:60%;
    height: auto;
    padding: 2.0rem;
    margin:0 20%;
    position: relative;
    top: 35%;
    text-align: center;
    z-index: 10;
    /* transform: translateY(-50%);
    /* -webkit- transform: translateY(-50%); */ */

}

.mainTitle {
    font-family: 'hiragino';
    text-align: center;
    font-size: 2.5rem;
    z-index: 20;

}

.mainDescription {
    text-align: center;
    font-family: "hiragino";
    padding: 2.0rem 10rem 3.0rem 10rem;
    font-size: 1.5rem;
    word-wrap: break-word;
    z-index: 20;
}

.downloadButton {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  z-index: 20;
}

.downloadButton:hover {
  background: #00bcd4;
  color: white;
}


/*CONTACT*/

#contact {
}

.contactLogo {
    margin: 0% 20% 0% 20%;
    width: 60%;
    height: 60%;
    /*background-color: coral;*/
/*
    background-image: url(../img/LogoWhite.png);
    background-size: 100%;
    background-repeat: no-repeat;
*/
}

.contactLogo img{
    width:100%;
    position: relative;
    top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.welcome {
    width: 80%;
    height: auto;
    margin: auto;
    /*    background-color: pink;*/
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'hiragino';
    letter-spacing: 0.1rem;
}

/*問い合わせボタン*/

.flat_ss {
    color: #484848;
    display: inline-block;
    height: 5rem;
    font-size: 2rem;
    line-height: 4.7rem;
    vertical-align: middle;
    background: #eaeef1;
    text-decoration: none;
    margin: 1em;
}

.btnttl {
    padding: 0 1rem 0 1rem;
    font-family: 'hiraginoW0'
}

.flat_ss .iconback {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    text-align: center;
    color: white;
}

.flat_ss .iconback .far {
    transition: .3s;
}

.flat_ss .btnttl {
    display: inline-block;
    width: auto;
    text-align: center;
    vertical-align: middle;
}


.flat_ss .pkt {
    background: #fd7171
}

.flat_ss:hover .iconback .far {
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

/*SNS*/

.share_btn2 {
    display: inline-block;
    text-decoration: none;
    width: 50px;
    margin: 2px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    color: white;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    transition: .3s;
    border: solid .5px #ffffff;
}

.share_btn2 .fab {
    line-height: 50px
}

.share_btn2:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.share_btn2.shtw {
    background: #22b8ff;
}

.share_btn2.shfb {
    background: #6680d8;
}

.share_btn2.shig {
    background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
}
/*copyright*/

footer {
    color: black;
    position: absolute;
    bottom: 1%;
    left: 48%;
    z-index: 10;
}
.top-title {

}
